
/*------------------ Footer -------------------*/
footer,
.push {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer {
    background-color: rgba(var(--primary-color));
    height: 100vh;
}

.ft_container {
    display: flex;
    gap: 1rem;
    margin-top: 50px;
    margin: auto;
    max-width: 100%;
    justify-content: center;
    padding: 2rem 0;
    flex-wrap: wrap;
    min-height: 100vh;
}

.flogo {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.flogo h1 {
    color: #dbdbdb;
    font-size: 50px;
    text-align: center;
}

.footer_description {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-right: 3rem;
    margin-top: 20px;
    max-height: 10px;
    width: 450px;
}

.footer_description .textwidget {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    text-align: left;
}

.quick {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 270px;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.contact ul li {
    color: #fff;
    list-style-type: none;
    margin: 5px;
}

.quick ul li {
    color: #fff;
    list-style-type: none;
    margin: 7px;
}

footer a {
    color: #fff;
}

#footertxt {
    color: #fff;
}