header {
    background-color: #800000;
    min-height: 50px;
}

.navbar-content {
    align-items: center;
    box-shadow: 50px;
    display: flex;
    gap: 1rem;
    height: 130px;
    justify-content: center;
    letter-spacing: 3px;
    margin: auto;
    max-width: 2080px;
    width: 100%;
} 

.title h1 {
    color: #dbdbdb;
    font-family: "Ancizar Sans", sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;  
    text-shadow: 2px 3px 4px rgba(0,0,0,1);
}

.nav-right {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.anav {
    align-items: center;
    display: flex;
    font-size: 14px;
    gap: 30px;
    height: 56px;
    justify-content: center;
    letter-spacing: 2px;
    margin-left: 4px;
}

.anav a {
    color: #dbdbdb;
    font-family: "Ancizar Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.hover-items {
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0 rgba(0,0,0,0.2);
    display: none;
    max-width: 220px;
    min-width: 160px;
    position: absolute;
    z-index: 1;
}

.hover-items a {
    color: #000;
    display: block;
    padding: 12px 16px;
}

.dropdown:hover .hover-items { display: block;}


